# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\学习资料\计算机设计大赛\Rumor_of_COVID_19\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
